@import "../../../utils/font.less";

.about-me-wrap{
    .details{
        margin-bottom: 40px;
    }
    .tip-section{
        max-width: 450px;
        margin: 0 auto;
        margin-bottom: 20px;
        .tip{
            background: url("https://www.bluejeans.com/sites/default/files/uploaded_images/BJN-TechTips_0.png");
            width: 40px;
            height: 40px;
            background-size: contain;
            display: inline-block;
            vertical-align: middle;
        }
        .tip-content{
            display: inline-block;
            vertical-align: top;
            margin-left: 20px;
            font-size: 14px;
            max-width: 325px;
            color: grey;
        }
        .got-it{
            display: inline-block;
            font-size: 16px;
            margin-left: 5px;
            color: #5682FF;
            cursor: pointer;
        }
    }
    .step{
        font-size: 18px;
        color: #4a4a4a;
    }
    .details-wrap{
        max-width: 450px;
        margin: 0 auto;
    }
}