@font-face {
	font-family: 'EtelkaTextPro';
	src: url('../assets/fonts/ProximaNova-Bold.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'EtelkaTextPro';
	src: url('../assets/fonts/ProximaNova-Regular.ttf');
	font-style: normal;
	font-weight: normal;
}
.title{
  font-family: EtelkaTextPro;
}
*{
	margin: 0;
	height: 0;
}

.keyframes(collapseSection, {from {opacity: 1;} to {opacity: 0;}});
.keyframes(up, {from {top: 100px; opacity: 0;} to {top: 0px; opacity: 1;}});
.keyframes(
  rightToLeft,
  {from {left: 100%; opacity: 1;} to {left: 50%; opacity: 1;}}
);
.keyframes(@name, @rules) {
  @-webkit-keyframes @name {
    @rules();
  }
  @-moz-keyframes @name {
    @rules();
  }
  @-ms-keyframes @name {
    @rules();
  }
  @-o-keyframes @name {
    @rules();
  }
  @keyframes @name {
    @rules();
  }
}

.animation(@animation) {
	-webkit-animation: @animation;
	-moz-animation: @animation;
	-o-animation: @animation;
	-ms-transition: @animation;
	animation: @animation;
}