
// //old carousel
// .carousel-container{
//     padding-top: 80px;
//     .carousel-root{
//     }
//     .carousels{
//         width: 1200px;
//         height: 792px;
//         margin : 0 auto;
//         text-align: center;
//         overflow: hidden;
//         position: relative;
//     }
//     .image-holder{
//         width: 4800px;
//         height: 792px;
//         clear: both;
//         position: relative;
//         -webkit-transition: left 1s;
//         -moz-transition: left 1s;
//         -o-transition: left 1s;
//         transition: left 1s;
//     }
//     .image{
//         min-width: 1200px;
//         max-width: 1200px;
//         float: left;
//         margin: 0px;
//         padding: 0px;
//         position: relative;
//         min-height: 792px;
//         max-height: 792px;
//         background-size: contain;
//     }
    
//     .buttons{
//         position: absolute;
//         bottom: 10px;
//         transform: translateX(-50%);
//         left: 50%;
//         button{
//             margin: 0px 5px;
//             height: 15px;
//             width: 15px;
//             border-radius: 50%;
//             cursor: pointer;
//             border: none;
//             transition: transform .2s;
//         }
//         .selected-button{
//             -ms-transform: scale(1.5); /* IE 9 */
//             -webkit-transform: scale(1.5);
//             transform: scale(1.8);
//             background: black;
//         }
//     }
    
// }
// .sample{
//     height: 1000px;
//     width: 800px;
// }


header.masthead {
    padding-top: 10rem;
    padding-bottom: 100px;
    background-image: url("../../../assets/header.jpg");
    background-position: center center;
    background-size: cover;
  }
  
  header.masthead hr {
    margin : 30px auto;
  }
  
  header.masthead h1 {
    font-size: 2rem;
  }
  
  header.masthead p {
    font-weight: 300;
  }
  
  @media (min-width: 768px) {
    header.masthead p {
      font-size: 1.15rem;
    }
  }
  
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 4rem;
    }
  }


hr.light {
    margin: 0 auto;
  }

.text-primary {
    color: #F05F40 !important;
  }
  
  .btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }
  
  .btn-xl {
    padding: 1rem 2rem;
  }
  
  .btn-primary {
    background-color: #F05F40;
    border-color: #F05F40;
  }
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #ee4b28 !important;
  }
  
  .btn-primary:active, .btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  }

  section {
    padding: 8rem 0;
  }
  
  .section-heading {
    margin-top: 0;
  }

  .bg-primary {
    background-color: #F05F40 !important;
  }